* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto';
}

.main-section {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 40px;
}

@media screen and (max-width: 1500px) {

  .main-section {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1150px) {

  .main-section {
    max-width: 850px;
  }
}

@media screen and (max-width: 850px) {

  .main-section {
    max-width: 500px;
    align-items: center;
    flex-direction: column-reverse;
  }
}
